@font-face {
  font-family: 'Sam3KRFont';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Sam3KRFont.woff') format('woff');
  font-weight: lighter;
  font-style: light;
}
@font-face {
  font-family: 'MYArirang-Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYArirang-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ycomputer-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MiraeroNormal';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/MiraeroNormal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ycomputer-Regular';
  overflow-x: hidden;
}

.home {
  text-align: center;
  padding: 100px;
  background: linear-gradient(to top, 
  rgba(162, 255, 224, 0.9) 10%, 
  rgb(0, 204, 255) 50%,     
  rgb(0, 102, 204) 100%
);
  min-height: 85vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}

.home h1 {
  font-size: 2.5rem; /* Large main heading */
}

.home p {
  font-size: 1.6rem; /* Adjust text size */
  line-height: 1.6;
  max-width: 800px;
}